# Windows registry files
NTUSER.*
ntuser.*

# Actual directories
3D Objects/
AppData/
Contacts/
Desktop/
Links/
MicrosoftEdgeBackups/
Searches/
Tracing/

# Legacy directory links
Application Data
Cookies
Local Settings
My Documents
NetHood
PrintHood
Recent
SendTo
Start Menu
Templates

# My directory symlinks
dev
proj
OneDrive

# SSH keys
.ssh/

# Configuation files and directories
.sudo_as_admin_successful
.VirtualBox/
.android/
.aptitude/
.idlerc/
.matplotlib/
.pylint.d/
.vscode/
.w3m/
.bash_history
.python_history
.viminfo
.config/configstore/update-notifier-npm.json
.config/git/gitk
.config/mc/
.local/
.node_repl_history
.dotfiles/
.git-backup/
.ipython/
.jupyter/
.seleniumwire
