[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Scott Trotter
	email = scott@trotternet.com
[alias]
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
	l = log --date-order --date=iso --graph --full-history --all --pretty=format:'%x08%x09%C(red)%h %C(cyan)%ad%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08%x08 %C(bold blue)%aN%C(reset)%C(bold yellow)%d %C(reset)%s'
[color]
	ui = auto
[push]
	default = simple
[core]
	autocrlf = true
	excludesFile = ~/.gitignore_global
